body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0C988;
  mar
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.done {
  text-decoration: line-through;
}



.delClass {
  background-image: url("delete.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 10px;
}


.delClass:hover {
  transform: scale(1.2);
}

